{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}

{% block title %}
    {% trans 'NewsPaperPortal' %}
{% endblock title %}


{% block content %}
    <h1>{% trans 'All the posts' %}</h1>
    <hr>
    <p>{% trans 'Number of all posts' %}: {{ paginator.count }}</p>
    <hr>
    {% if perms.news.add_post %}
    {% trans 'Add' %} <a href='{% url 'new_create' %}'>{% trans 'new' %}</a> {% trans 'or' %} <a href='{% url 'article_create' %}'>{% trans 'article' %}</a>
    <hr>
    {% endif %}

    {% if posts %}
        <table>
            <tr>
                <td>{% trans 'Author' %}</td>
                <td>{% trans 'Heading' %}</td>
                <td>{% trans 'Date of publication' %}</td>
                <td>{% trans 'Text' %}</td>
                {% if perms.news.change_post or perms.news.delete_post %}
                    <td>{% trans 'Actions' %}</td>
                {% endif %}
            </tr>

            {% for post in posts %}
                <tr>
                    <td>{{ post.author }}</td>
                    <td>{{ post.title|censor }}</td>
                    <td>{{ post.date_time|date:"d.m.Y" }}</td>
                    <td>{{ post.text|truncatechars:20|censor }}</td>

                <td>
                    {% if perms.news.delete_post %}
                        {% if post.post_type == 'NW' %}
                        <a href='{% url 'new_edit' post.pk %}'>{% trans 'Edit' %}</a>
                        {% elif post.post_type == 'AR' %}
                        <a href='{% url 'article_edit' post.pk %}'>{% trans 'Edit' %}</a>
                        {% endif %}
                    {% endif %}
                    {% if perms.news.delete_post %}
                        {% if post.post_type == 'NW' %}
                        <a href='{% url 'new_delete' post.pk %}'>{% trans 'Delete' %}</a>
                        {% elif post.post_type == 'AR' %}
                        <a href='{% url 'article_delete' post.pk %}'>{% trans 'Delete' %}</a>
                        {% endif %}
                    {% endif %}
                    </td>
            </tr>
        {% endfor %}

        </table>
    {% else %}
        <h2>{% trans 'There are no posts' %}</h2>
    {% endif %}

    {# Информация о предыдущих страницах#}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    
    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}
