{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block title %}
    found
{% endblock title %}


{% block content %}
    <h1>All the posts</h1>
    <hr>
        Number of all posts: {{ paginator.count }}
    <hr>

    <form action="" method="get">
        {% csrf_token %}
        {{ filterset.form.as_p }}
        <input type="submit" value="search">
    </form>

    {% if posts %}
        <table>
            <tr>
                <td>Heading</td>
                <td>Date of publication</td>
                <td>Text</td>
            </tr>

            {% for post in posts %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.date_time|date:"d.m.Y" }}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>There are no posts</h2>
    {% endif %}

    {# Информация о предыдущих страницах#}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    
    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}